<!-- Navigation-->
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons class="primary-nav g-nav contact" slot="start">
      <ion-button target="_blank" href="https://wa.me/message/ZPRJHNWHMBD7B1"
      ><ion-icon name="logo-whatsapp"></ion-icon> &nbsp; 633 977
      311</ion-button
      >
      <ion-button
      target="_blank"
      href="mailto:kevin.zamora.amela@gmail.com"
      onclick="copyToClipboard()"
      value="kevin.zamora.amela@gmail.com"
      id="email"
      >&#32;<ion-icon name="mail-outline"></ion-icon> &nbsp;
      kevin.zamora.amela@gmail.com</ion-button
      >      
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-button
          target="_blank"
          href="https://github.com/zamelkev/zamelkev/blob/main/CV/Kevin_Zamora-Desarrollador_FullStack.pdf"
          ><span>CV</span>&nbsp;<ion-icon name="document-outline"></ion-icon
        ></ion-button>
  
        <ion-button target="_blank"
        href="mailto:kevin.zamora.amela@gmail.com"
          ><ion-icon name="mail-outline"></ion-icon
        ></ion-button>
  
        <ion-button target="_blank" href="tel:+34633977311"
          ><ion-icon name="call-outline"></ion-icon
        ></ion-button>
  
        <ion-button
          target="_blank"
          href="https://www.linkedin.com/in/kevin-zamora-webdev/"
          ><ion-icon name="logo-linkedin"></ion-icon
        ></ion-button>
  
        <ion-button target="_blank" href="https://github.com/zamelkev"
          ><ion-icon name="logo-github"></ion-icon
        > &nbsp;<span>Perfil de Github</span></ion-button>
  
        <ion-button target="_blank" href="https://wa.me/message/ZPRJHNWHMBD7B1"
          ><ion-icon name="logo-whatsapp"></ion-icon
        ></ion-button>
  
        <ion-button
          target="_blank"
          href="https://www.google.com/search?q=kevin+zamora+amela&oq=kevin+zamora+amela"
          ><ion-icon name="logo-google"></ion-icon
        ></ion-button>
  
        <ion-button
          target="_blank"
          href="https://www.amazon.es/kindle-dbs/entity/author/B09FGT2FMX"
          ><ion-icon name="logo-amazon"></ion-icon
        ></ion-button>
  
        <ion-button
          target="_blank"
          href="https://www.youtube.com/channel/UCjL-GlVW6b58MHTO12wRP6A"
          ><ion-icon name="logo-youtube"></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>