<div class="social-icons">
    <a class="social-icon" href="https://www.linkedin.com/in/kevin-zamora-webdev/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="https://github.com/kevinzamoraa/" target="_blank"><i class="fab fa-github"></i></a>
    <!-- <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a> -->
    <a class="social-icon dropdown-toggle" type="button" data-bs-toggle="dropdown"><i class="fa fa-file"></i></a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" target="_blank" href="https://github.com/kevinzamoraa/kevinzamoraa/blob/main/CV/Kevin_Zamora-Desarrollador_FullStack.pdf"><strong>CV Desarrollador FullStack</strong></a></li>
        <li><a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/kevin-zamora-webdev/"><strong>Linkedin</strong></a></li>
    </ul>
</div>