    <h1 class="mb-3 purple">Experiencia</h1>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let item of datos">
        <div class="flex-grow-1">
            <h2 class="mb-0 purple">{{item.profesion}}</h2>
            <div class="subheading mb-3 gold" style="text-transform:uppercase">{{item.puesto}}</div>
            <div class="flex-shrink-0"><span class="grey">{{item.periodo}}</span></div>
            <p class="text-justify">{{item.descripcion}}</p>
        </div>
    </div>
    <br>
    <br>