<!-- <ion-header [translucent]="false">
  <ion-toolbar>
      <ion-buttons class="primary-nav g-nav contact" slot="start">
          <ion-button href="tel:+34633977311"><ion-icon name="call-outline"></ion-icon>
              &nbsp; 633 977 311</ion-button>
          <ion-button href="mailto:contactaconkev@gmail.com">&#32;<ion-icon name="mail-outline"></ion-icon>
              &nbsp; contactaconkev@gmail.com</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
          
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true"> -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">enCvViewer</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ngx-extended-pdf-viewer [src]="'./assets/docs/'" [useBrowserLocale]="true"></ngx-extended-pdf-viewer> -->
<!-- </ion-content> -->
