<h1 class="heading mb-3 purple">Educación / Formación</h1>
<h1 class="heading mb-3 purple">Formación Reglada</h1>
<div class="d-flex flex-column flex-md-row justify-content-between text-justify mb-5" *ngFor="let item of formacionReglada">
    <div class="flex-grow-1">
        <h1 class="mb-0 purple">{{item.estudio}} ( <i>Nota: {{item.cualificacion}}</i> ) - <span>{{item.periodo}}</span></h1>
        <!-- <div class="flex-shrink-0"><span class="text-primary">{{item.periodo}}</span></div> -->
        <div class="subheading mb-3">{{item.institucion}}</div>
        <div class="subheading mb-3 grey">{{item.localizacion}}</div>
        <div class="subheading mb-3">{{item.motivacion}}</div>
        <div class="subheading mb-3" style="text-transform: uppercase"><a href={{item.enlace}} target="_blank" class="gold">+ Información</a></div>
        <!-- <div class="subheading mb-3">Certificados profesionales: {{item.certificadosProfesionales}}</div> -->
    </div>
</div>
<br>
<h1 class=" mb-5 purple">Formación No Reglada / Especialización</h1>
<div class="d-flex flex-column flex-md-row justify-content-between text-justify mb-5" *ngFor="let item of formacionNoReglada">
    <div class="flex-grow-1">
        <h1 class="mb-0 purple">{{item.estudio}} - ( <i>Nota: {{item.cualificacion}}</i> ) - <span>{{item.periodo}}</span></h1>
        <!-- <div class="flex-shrink-0"><span class="text-primary">{{item.periodo}}</span></div> -->
        <div class="subheading mb-3">{{item.institucion}}</div>
        <div class="subheading mb-3 grey">{{item.localizacion}}</div>
        <div class="subheading mb-3">{{item.motivacion}}</div>
        <div class="subheading mb-3" style="text-transform: uppercase"><a href={{item.enlace}} target="_blank" class="gold">+ Información</a></div>
        <!-- <div class="subheading mb-3">Certificados profesionales: {{item.certificadosProfesionales}}</div> -->
    </div>
</div>
<br>
<h1 class=" mb-5 purple">Certificados Oficiales de Idiomas</h1>
<div class="d-flex flex-column flex-md-row justify-content-between text-justify mb-5" *ngFor="let item of idiomas">
    <div class="flex-grow-1">
        <h3 class="mb-0 purple">{{item.estudio}} ( <i>Nota: {{item.cualificacion}}</i> ) - <span>{{item.periodo}}</span></h3>
        <!-- <div class="flex-shrink-0"><span class="text-primary">{{item.periodo}}</span></div> -->
        <div class="subheading mb-3">{{item.institucion}}</div>
        <div class="subheading mb-3 grey">{{item.localizacion}}</div>
        <div class="subheading mb-3">{{item.motivacion}}</div>
        <div class="subheading mb-3" style="text-transform: uppercase"><a href={{item.enlace}} target="_blank" class="gold">+ Información</a></div>
        <!-- <div class="subheading mb-3">Certificados profesionales: {{item.certificadosProfesionales}}</div> -->
    </div>
</div>