<div class="social-icons">
    <a class="social-icon" href="https://www.linkedin.com/in/imkevzamora/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="https://github.com/zamelkev/" target="_blank"><i class="fab fa-github"></i></a>
    <!-- <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a> -->
    <a class="social-icon dropdown-toggle" type="button" data-bs-toggle="dropdown"><i class="fa fa-file"></i></a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" target="_blank" href="../../assets/docs/Kevin-Zamora-CV23_G3_ES.pdf"><strong>Curriculum Vitae (Español)</strong></a></li>
        <li><a class="dropdown-item" target="_blank" href="../../assets/docs/Kevin-Zamora-CV23_G3_EN.pdf"><strong>Curriculum Vitae (Inglés)</strong></a></li>
    </ul>
</div>