<ion-footer collapse="fade" slot="bottom">
  <ion-toolbar>
    <ion-title slot="start" class="big-screens">© Designed by Kevin Zamora Amela</ion-title>
    <ion-title slot="start" class="small-screens">© By Kevin Zamora</ion-title>
    <ion-buttons slot="end">
      <ion-button target="_blank"
      href="mailto:kevin.zamora.amela@gmail.com"
        ><ion-icon name="mail-outline"></ion-icon
      ></ion-button>
      <ion-button target="_blank" href="tel:+34633977311"
        ><ion-icon name="call-outline"></ion-icon
      ></ion-button>
      <ion-button
        target="_blank"
        href="https://www.linkedin.com/in/imkevzamora/"
        ><ion-icon name="logo-linkedin"></ion-icon
      >&nbsp;<span>Linkedin</span></ion-button>

      <ion-button target="_blank" href="https://github.com/zamelkev"
        ><ion-icon name="logo-github"></ion-icon
      > &nbsp;<span>Github</span></ion-button>
      <!--<ion-button target="_blank" href="https://wa.me/message/ZPRJHNWHMBD7B1"
        ><ion-icon name="logo-whatsapp"></ion-icon
      ></ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
