ion-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 980px) {
    .big-screens {
        display: none;
    }
    .primary-nav {
        display: none;
    }
    span {
        display: none;
    }
}

@media (min-width: 980px) {
    .small-screens {
        display: none;
    }
}