<div class="subheading mb-5">
   · <a style="color:goldenrod" href="https://www.google.com/maps/place/12500+Vinar%C3%B2s,+Castell%C3%B3n/" target="_blank">Vinaròs (Castellón) / España</a> · <br> 
   · <a style="color:goldenrod" href="tel:+34633977311">+34 633 977 311</a> · <br>
   · <a style="color:goldenrod" target="_blank" href="mailto:kevin.zamora.amela@gmail.com">kevin.zamora.amela@gmail.com</a> ·
</div>
<div class="subheading mb-5">
    <span class="text-secundary"><span class="gold" style="text-transform: uppercase;">Idiomas disponibles: </span></span> <span class="text-primary">Inglés, Español & 'Valenciano/Catalán'</span>
</div>