[Desktop Entry]
Icon=text-html
Name=https://freshdesignweb.com/book-website-templates/
Type=Link
URL[$e]=https://freshdesignweb.com/book-website-templates/
