<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-xl">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/icon/favicon.ico" height="70px" width="auto" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/store">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Conoce a un(a) Resiliente</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              1HCE: Superar & Mejorar
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Sinapsis</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Origen: por qué</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Objetivo: para qué</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Ilustraciones</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Alfabetízate
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Sinapsis</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Origen: por qué</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Objetivo: para qué</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Ilustraciones</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">¿¡Mejoramos Junt@s!?</a>
          </li>
        </ul>
        <div class="search-and-icons">
          <!-- <form class="d-flex mb-2 me-2" role="search">
            <input class="form-control me-2" type="search" aria-label="Search">
          </form> -->
          <div class="contact-info d-md-flex">
            <p><a href="tel:+34633977311">+34 633 977 311</a></p>
            <p><a href="mailto:contactaconkev@gmail.com">contactaconkev@gmail.com</a></p>
          </div>
          <div class="user-icons d-flex mb-2">
            <div class="profile"><ion-icon name="person-outline"></ion-icon></div>
            <div class="cart"><ion-icon name="cart-outline"></ion-icon></div>
          </div>
        </div>
      </div>
    </div>
  </nav>