<div class="full-layer-outer-header">
  <div class="container clearfix">
      <nav class="navbar-row">
          <ul class="primary-nav g-nav">
              <li><a href="tel:+34633977311"><i class="fas fa-phone u-c-brand u-s-m-r-9"></i>
                      633 977 311</a></li>
              <li><a href="mailto:contactaconkev@gmail.com"><i class="fas fa-envelope u-c-brand u-s-m-r-9"></i>
                      contactaconkev@gmail.com</a></li>
          </ul>
          <ul class="secondary-nav g-nav">
            <li><a>My Account<i class="fas fa-chevron-down u-s-m-l-9"></i></a>
                <ul class="g-dropdown" style="width:200px">
                    <li><a href="cart.html"><i class="fas fa-cog u-s-m-r-9"></i>My Cart</a></li>
                    <li><a href="wishlist.html"><i class="far fa-heart u-s-m-r-9"></i>My Wishlist</a></li>
                    <li><a href="checkout.html"><i class="far fa-check-circle u-s-m-r-9"></i>Checkout</a></li>
                    <li><a href="account.html"><i class="fas fa-sign-in-alt u-s-m-r-9"></i>Login / Signup</a></li>
                </ul>
            </li>
        </ul>
      </nav>
  </div>
</div>
